* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100%;
}

main {
  display: flex;
  height: 100vh;
}



.sidebar, aside {
    box-shadow: 0px 4px 8px rgba(207, 21, 21, 0.5);
    background-color: rgb(43, 41, 41);
    width: 250px;
    display: flex;
    flex-direction: column;
}


.logo{
    color: #e1e5eb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.funciones{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.funciones a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border: 1px solid white;
    padding: 10px 20px;
    width: 90%;
    background-color: aliceblue;
    border-radius: 10px;
}

.funciones a:hover {
    color: #dbcccc;
    background-color: rgb(235, 65, 65);
    border: 1px solid rgb(255, 0, 0);
}

.funciones ul{
    color: #dbcccc;
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 10px;
    gap: 20px;
}


.settings a{ 
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
}

.settings a:hover{ 
    color: rgb(255, 143, 143);
}

i{
    color: white;
}

i:hover{
    color: rgb(252, 121, 121);
}

.salir{
    gap: 10px;
}

.search-bar input{
    all: unset;
}

.search-bar i{
    color: #333;
}

.search-bar {
    background-color: #f0eaea;
    padding: 10px 20px;
    border: 1px solid rgb(199, 59, 59);
    border-radius: 20px;
}

.entrar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.entrar a{
    background-color: #232425; 
    text-decoration: none;  
    padding: 5px 15px; 
    border: 1px solid black;
    color: rgb(204, 41, 41);
    border-radius: 15px;
}

.entrar a:hover{
    background-color: #535455; 
    color: rgb(228, 112, 112);    
}


.contenido {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header, .busqueda {
    background-color: #414141;
    box-shadow: 0 4px 8px rgba(207, 21, 21, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 60px;
    width: 100%;
}

.main{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ajustes {
    background-color: #414141;
    box-shadow: 0 0 15px rgba(207, 21, 21, 0.5); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel{
    background-color: #3b3737;
    box-shadow: 0 0 20px rgba(207, 21, 21, 0.5); 
    width: 80%;
    height: 90%;
}

.title{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

.op{
    height: 10%;
}

.text{
    padding: 10px;
}

.formulario{
    padding: 0px 50px;
}
.es{
    display: flex;
    flex-direction: column; /* para apilar los bloques verticalmente */
    gap: 45px;  
}
.live{
    display: flex;
}
.live, .campo input{
    display: flex; 
    gap: 20%;
}
.lives, .campo select{
    display: flex;
    gap: 28%;
}


.photo{
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20%;
    padding: 0px 10px;
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.acciones {
  display: flex;
  gap: 15px;
}

.acciones a {
  text-decoration: none;
  color: rgb(211, 211, 211);
  font-size: 14px;
}
.social{
    height: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20%;
    padding: 0px 10px;
}

input,
select {
  all: unset;
  font: inherit; /* hereda la fuente del contenedor */
  padding: 5px 15px;
  border: 2px solid #be2727;
  border-radius: 15px;
  background-color: rgb(238, 226, 226);
  color: black;
}

.btn-faceboock{
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4776D0;
}


@media (min-width: 1400px) {

    .ajustes {
        justify-items: center; /* centra contenido dentro de cada celda */
        align-content: center;
        margin: 0 auto; /* centra horizontalmente el contenedor .cars */
        height: 100%;
    }

    .settings{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 380px;
        padding: 10px;
        gap: 20px;
    }
}